.App {
  margin: 50px 150px;
}

.userCard {
  width: 100%;
  background-color: darkgray;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.users {
  margin-top: 50px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 350px);
  /*grid-auto-columns: repeat(3, 350px);*/
  gap: 20px;
}

p {
  margin: 0;
}
